<ul class="navbar">
    <li class="nav-item"><a class="nav-Link" href="/profil">Min profil</a></li>
    <li class="nav-item"><a class="nav-Link" href="/ukeplan">Time Plan</a></li>
    {{#if Admin}}
    <li class="nav-item"><a class="nav-Link" href="/CreateUserForm">Lag brukere</a></li>
    <li class="nav-item"><a class="nav-Link" href="/brukere">Oversikt over brukere</a></li>
    <li class="nav-item"><a class="nav-Link" href="/CreateClass">Legg til klasse</a></li>
    {{/if}}
        {{!-- <li class="nav-item"><a class="nav-Link" href="/PCoversikt">Oversikt over PCer</a></li>
        <li class="nav-item"><a class="nav-Link" href="/CreatePCForm">Legg til pc</a></li> --}}
    <li class="nav-item"><a class="nav-Link" href="/Loggout">Logg ut</a></li>    
</ul>
<br><br><br>